
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;300&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat';
}
.nav-item{
    color: black;
    font-weight: bold;
    font-family: 'Montserrat';
}
.nav-item:hover{
    background-image: linear-gradient(to bottom,transparent 0 65%, #ffc0cb 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%;
}
h1{
    font-family: 'Lobster';
    font-size: 60px;
    color: white;
    padding: 5px;
}
h2{
    font-family: 'Montserrat';
    color: white;
    padding: 5px;
}
.titulosPaginas{
    font-family: 'Montserrat';
    font-size: 2.62rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1.8px;
    background-image: linear-gradient(to bottom,transparent 0 65%, #f7adaa 65% 100%);
}
.nosotros{
    padding-bottom: 50px;
    padding-top: 50px;
}
header{
    background-color: #f7adaa ;
}
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    border: 1px solid rgb(232, 232, 231);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 400ms ease;
}
.tarjeta:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.tarjeta__titulo{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 15px;
    margin: 5px 0px;
}
.tarjeta__desc{
    font-family: 'Montserrat';
}
.tarjeta__img{
    width: 100%;
}
.btn{
    background-color: #f59794;
    padding: 8px 12px;
    margin-top: 5px;
    color: white;
    border: 0px;
    border: 5px;
}
#fotoNosotros{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
#fotoNosotros:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.titulofaq{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: center;
    background-image: linear-gradient(to bottom,transparent 0 65%, #ffc0cb 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%;

}
.textoFaq{
    text-align: center;
}
.tituloContacto, .tituloContacto2{
    font-weight: bold;
    background-image: linear-gradient(to bottom,transparent 0 65%, #ffc0cb 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%;
}
.emailContacto{
    color: rgb(245, 151, 148);
    text-decoration: none;
    font-family: 'Montserrat';
}
.emailContacto:hover{
    color: black;
    background-image: linear-gradient(to bottom,transparent 0 65%, #ffc0cb 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%;
}
#tarjetaForm{
    border: 1px solid rgb(232, 232, 231);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease; 
}
#tarjetaCont{
    border: 1px solid rgb(232, 232, 231);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease; 
}
footer{
    background-color:rgba(201, 201, 200, 0.849); 
}
